.DS_Store
*.pyc
__pycache__
*.DS_Store
results/
LCAResults/co2_emissions.png
results.json
.idea/misc.xml
.idea/sesame_python_ver2.iml
deploy/*.retry
system/data
.env
.python-version
.idea/
.vscode/workspace.code-workspace
.vscode/launch.json
analysis/system/industry/iron_steel/m_dri_coal_input.py
analysis/system/industry/iron_steel/coal_dri.py
analysis/system/industry/iron_steel/m_dri_coal_input.py
analysis/system/industry/iron_steel/capex.csv
analysis/system/industry/iron_steel/capex.csv
analysis/system/industry/iron_steel/capex.csv
.spyproject/
