html {
  font-size: 13px;
}
#layers {
  z-index: 1000;
}
.non-comparison-cell {
  @apply px-5
}
input[type="checkbox"] {
  @apply rounded border-gray-300 mr-2 h-5 w-5
}
.comparison-sidebar, .comparison-main {
  @apply flex-auto
}
.comparison-sidebar {
  @apply w-1/6 flex items-start flex-col
}
.comparison-main {
  @apply w-5/6 grid
}
.comparison-main > div, .comparison-sidebar > div {
  @apply flex-1 max-w-full
}
.comparison-main > div {
  @apply px-4
}
.comparison-sidebar > div {
  @apply px-4
}
.comparison-main > div {
  @apply border-l border-gray-300
}
.comparison-main.dark > div, .comparison-sidebar.dark > div {
  @apply border-gray-500
}
.table-border td, .table-border th {
  @apply border border-gray-200
}

.gutter-x {
  @apply px-4
}
.gutter-l {
  @apply pl-4
}
.gutter-r {
  @apply pr-4
}

/* remove arrows in numerical inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Video embeds */
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* 
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: white;
} */

/* fix label wrapping on pps pie chart */
.highcharts-label.highcharts-data-label > span {
  white-space: normal !important;
  width: 80px !important;
}

/* Animations for toast notifications */

.animate-enter {
  animation: animateEnter 0.2s;
}

.animate-leave {
  animation: animateLeave 0.2s forwards;
}

.fade-in {
  animation: fadeIn 0.15s;
}

@keyframes animateEnter {
  from { transform: translateY(-10px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes animateLeave {
  from { transform: translateY(0); opacity: 1; }
  to { transform: translateY(-10px); opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 } 
}